<nav class="navbar navbar-fixed-top navbar-inverse vpv-navbar">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-education"></span> VP Vis
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a ui-sref="home"><span class="vpv-icon glyphicon glyphicon-home"></span>Home</a></li>
        <li><a ui-sref="statements"><span class="vpv-icon glyphicon glyphicon-list-alt"></span>Statements</a></li>

        <li class="dropdown">
          <a ng-click="$event.preventDefault()"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"><span class="vpv-icon glyphicon glyphicon-hdd"></span>LRS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="lrs.list">
                <span class="vpv-icon glyphicon glyphicon-list"></span>
                <span>list</span>
              </a>
            </li>
            <li>
              <a ui-sref="lrs.form({ guid: '' })" ui-sref-opts="{ reload: true, notify: true }">
                <span class="vpv-icon glyphicon glyphicon-plus"></span>
                <span>add</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a ng-click="$event.preventDefault()"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"><span class="vpv-icon glyphicon glyphicon-wrench"></span>API mock <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="apimock.list">
                <span class="vpv-icon glyphicon glyphicon-list"></span>
                <span>list</span>
              </a>
            </li>
            <li>
              <a ui-sref="apimock.item({ guid: '' })" ui-sref-opts="{ reload: true, notify: true }">
                <span class="vpv-icon glyphicon glyphicon-plus"></span>
                <span>add</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a ng-click="$event.preventDefault()"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"><span class="vpv-icon glyphicon glyphicon-book"></span>Libs demos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="demos.d3">d3.js</a></li>
            <li><a ui-sref="demos.chartjs">chart.js</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="demos.cy">cytoscape.js</a></li>
          </ul>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
