body {
  padding-top: 50px;
}

.vpv-view:not(.vpv-home-view) {
  padding-top: 30px;
}

.vpv-view-header-row {
  padding: 20px;
}

.vpv-view-title {
  margin-bottom: 50px;
}

.vpv-app-footer {
  width: 100%;
  min-height: 100px;
}


.vpv-navbar a .vpv-icon {
  margin-right: 5px;
}



.vpv-list {
  list-style-type: none;
  padding: 0;
}

.vpv-list-item {
  padding: 20px;
  border-top: 1px solid #ddd;
  position: relative;
}

.vpv-list-item:nth-child(odd) {
  background-color: #f9f9f9;
}

.vpv-list-item__pair {
  padding-bottom: 15px;
}

.vpv-list-item__key {
  font-weight: bold;
}

.vpv-list-item__value {
  font-family: consolas,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.vpv-list-item__value pre {
  background-color: #FFFDD9;
}

.vpv-list-item__actions {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .vpv-list-item__actions {
    float: right;
  }
}


.vpv-list.vpv-list-flex .vpv-list-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.vpv-list.vpv-list-flex .vpv-list-item__actions {
  float: none;
  margin: 0;
}