.api-mock-list {
  list-style-type: none;
  padding: 0;
}

.api-mock-list li {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.api-mock-list li:nth-child(odd) {
  background-color: #f9f9f9;
}

.api-mock-list-item__pair {
  padding-bottom: 15px;
}

.api-mock-list-item__key {
  font-weight: bold;
}

.api-mock-list-item__value {
  font-family: consolas,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.api-mock-list-item__value pre {
  background-color: #FFFDD9;
}

.apimock-list-item__actions {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .apimock-list-item__actions {
    float: right;
  }
}
