<div class="vpv-view">
  <div class="container">

    <div class="row vpv-view-header-row">

      <h1 class="col-sm-3 vpv-view-title">Statements</h1>

      <div class="col-sm-9" style="padding-top: 20px;">
        <div class="pull-right form-inline">

          <div class="form-group">
            <label for="selectedLRS">Select LRS: </label>
            <select name="selectedLRS" 
              ng-model="statementsCtrl.selectedLrsGuid"
              class="form-control">
              <option ng-repeat="lrs in statementsCtrl.lrsList" value="{{lrs.guid}}">{{lrs.name}}</option>
            </select>
          </div>

          <button class="btn btn-default" 
            ng-click="statementsCtrl.refreshStatements()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh statements
          </button>

        </div>
      </div>

    </div>

    <div class="row" ng-if="statementsCtrl.statements.length">
      <pre>{{ statementsCtrl.statements | json }}</pre>
    </div>

  </div>
</div>
